@{
    ViewData["Title"] = "Домашняя страница";
}

<div class="text-center">
    <h1 class="display-4">Основные темы:</h1>
    <a class="nav-link text-dark" asp-area="" asp-controller="Sort" asp-action="Bubble">Сортировка пузырьком</a>
    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Home">Сортировка вставками</a>
    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Home">Домашняя страница</a>

</div>

