@{
    ViewData["Title"] = "Домашняя страница";
}

<div class="text-center">
    <h1 class="display-4">Основные темы:</h1><br>
	<a class="nav-link text-dark" asp-area="" asp-controller="Sort" asp-action="Bubble"><h4>Сортировка пузырьком.</h4></a>
    <a class="nav-link text-dark" asp-area="" asp-controller="Sort" asp-action="Selection"><h4>Сортировка выбором.</h4></a>
    <a class="nav-link text-dark" asp-area="" asp-controller="Sort" asp-action="Insertion"><h4>Сортировка вставками.</h4></a>
    <a class="nav-link text-dark" asp-area="" asp-controller="Sort" asp-action="Shaker"><h4>Шейкерная сортирока.</h4></a>
    <a class="nav-link text-dark" asp-area="" asp-controller="Sort" asp-action="Shell"><h4>Сортировка Шелла.</h4></a>
    <a class="nav-link text-dark" asp-area="" asp-controller="Sort" asp-action="Quick"><h4>Быстрая сортировка.</h4></a>

</div>

