@{
    ViewData["Title"] = "Контрольные работы";
}
<h1>@ViewData["Title"]</h1>
<p>Правила оценивания: тект </p>
<p>Общее количествопопыток: 3 </p>
<p>Итоговая оценка: 0</p>
<a class="nav-link text-dark" asp-area="" asp-controller="Sort" asp-action="Bubble"><h4>Сортировка пузырьком.<input type="checkbox"></h4></a>

<a class="nav-link text-dark" asp-area="" asp-controller="Sort" asp-action="Selection"><h4>Сортировка выбором.<input type="checkbox"></h4></a>
<a class="nav-link text-dark" asp-area="" asp-controller="Sort" asp-action="Insertion"><h4>Сортировка вставками.<input type="checkbox"></h4></a>
<a class="nav-link text-dark" asp-area="" asp-controller="Sort" asp-action="Shaker"><h4>Шейкерная сортирока.<input type="checkbox"></h4></a>
<a class="nav-link text-dark" asp-area="" asp-controller="Sort" asp-action="Shell"><h4>Сортировка Шелла.<input type="checkbox"></h4></a>
<a class="nav-link text-dark" asp-area="" asp-controller="Sort" asp-action="Quick"><h4>Быстрая сортировка.<input type="checkbox"></h4></a>

